.calendar-UI {
  display: flex;
  flex-wrap: wrap;
  width: 40%;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  border: 4px solid #e6e6e6;
  position: relative;
  background: rgba(0, 0, 0, 0.7);
}

.calendar a {
  color: rgb(49, 42, 42);
}

.cell {
  background: #fffeee;
  width: 14.2857%;
  height: 90px;
  font-size: 0.7em;
  box-shadow: 0 0px 1px #393939;
}

.cell .date {
  margin: 4px;
}

.current {
  background: #d3edd3;
}

.current .date {
  font-weight: bold;
}

.otherMonth {
  background: #f7f7f7;
}

.otherMonth .date {
  color: #bfbfbf;
}

.addEventOnDay {
  display: inline-block;
  color: #4f4f4f;
  text-decoration: none;
  margin-left: 4px;
  background: #e1e1e1;
  padding: 0 6px;
  border-radius: 3px;
}

.miniEvent {
  background: #1f86ef;
  color: white;
  padding: 3px;
  font-size: 1em;
  cursor: pointer;
}

.miniEvent.holiday {
  background: #3fb73f;
}

.miniEvent.busy {
  background: #e7713c;
}

.navigation {
  width: 100%;
  padding: 10px 8px 14px 8px;
  border-bottom: 3px solid #b3b3b3;
}

.navigation div {
  display: inline-block;
  width: 33.33%;
}

.navigation .monthAndYear {
  text-align: center;
  font-weight: bold;
}

.navigation .monthAndYear a {
  text-decoration: none;
  display: inline-block;
  padding: 0 10px;
  background: #27bc27;
  border-radius: 5px;
  color: white;
  margin-left: 10px;
  text-shadow: 0 0px 2px #727272;
}

.navigation .back,
.navigation .forward {
  cursor: pointer;
  font-size: 0.7em;
  font-weight: 800;
  color: grey;
}

.navigation .back {
  text-align: left;
}

.navigation .forward {
  text-align: right;
}

.dayLabel {
  font-weight: bold;
  text-align: center;
  height: auto;
  padding: 10px 0;
  background: #e9e9e9;
  border-bottom: 3px solid #cacaca;
}

.addEvent {
  text-decoration: none;
  color: black;
  display: block;
  text-align: center;
  width: 100%;
  background: #3fb73f;
  border-bottom: 2px solid green;
  color: white;
  padding: 10px;
}

.form input,
.form select {
  width: calc(100% - 16px);
  padding: 5px;
  margin: 6px 0 10px 0;
  border: 3px solid #cacaca;
  border-radius: 4px;
  background: #f9f9f9;
}

.form select {
  width: 100%;
}

.form label {
  font-weight: bold;
  text-align: left;
  font-size: 0.8em;
  display: block;
}

button {
  width: 100%;
  background: #3fb73f;
  border: 0;
  border-bottom: 3px solid green;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}

button.red {
  background: #c82727;
  border-bottom: 3px solid #a51616;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal {
  background: white;
  position: absolute;
  width: 50%;
  text-align: center;
  left: 25%;
  top: 5%;
  border-radius: 5px;
}

.modal .inner {
  padding: 20px 30px 30px 30px;
}

.modal h3 {
  margin: 0;
  background: #e6e6e6;
  padding: 12px;
  border-radius: 5px;
}

.modal p {
  font-size: 0.8em;
  line-height: 1.5em;
}

.modal .close {
  margin-top: 22px;
  font-size: 0.7em;
  display: block;
}

.eventModal p {
  margin-bottom: 24px;
}

.eventModal p:first-of-type {
  margin-top: 0;
  margin-bottom: 0;
}

.eventModal .delete {
  display: block;
  background: #df3317;
  border-bottom: 2pxsolid #a90c0c;
  color: white;
  text-decoration: none;
  padding: 10px;
  font-size: 0.8em;
  border-radius: 3px;
  margin-bottom: 6px;
}

.eventModal button.red {
  margin-top: 8px;
}

.feedback {
  position: absolute;
  width: 90%;
  padding: 16px 0;
  left: 5%;
  text-align: center;
  bottom: 5%;
  background: #3fb73f;
  border-bottom: 3px solid green;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.loader {
  position: absolute;
  top: 50%;
  margin-top: -70px;
  left: 50%;
  margin-left: -38px;
}

/* animated loading spinner from https://loading.io/css/ */
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: ' ';
  display: block;
  position: absolute;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: #fff;
  margin: -4px 0 0 -4px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 63px;
  left: 63px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 68px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 71px;
  left: 48px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 71px;
  left: 32px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 68px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 63px;
  left: 17px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
